<div id="apDiv1">
  <div id="apDiv4">
  <div align="left">
    <h3 class="h3">You want to create a new Lottery Syndicate? Easy! Just click the link below, set up a new user account and follow the simple instructions.
      <p>Click Me >>>> <%= link_to '  New Syndicate', :controller => "users", :action => "new" %></p></h3>
  </div>

  </div>


</div>
<div id="apDiv2">
  <table width="345" border="0" cellspacing="0" cellpadding="1">
    <tr>
      <th width="152" scope="row"><div align="right">Email Address</div></th>
      <td width="180">&nbsp;</td>

    </tr>
    <tr>
      <th scope="row"><div align="right">Password</div></th>
      <td>&nbsp;</td>

    </tr>

  </table>

    <input align="right" type="Submit" name="memberLogin" id="memberLogin" value="User Login" />

</div>

</div>

</div>