<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Syndicate Approval Required </h1>
    <p>
      HTML Version - A new Syndicate <%= @syndicate %> has just been created.  <br/>
    </p>

    <p>
      Approval required.
    </p>

    <p>You know the drill!</p>
  </body>
</html>