<h1>Super User Management Page</h1>



<%= link_to 'Manager Approvals', :controller => :users, :action => :index %></ br>
<%= link_to 'Syndicate Approvals', :controller => :syndicates, :action => :index %>
