<h1>Super User Management Page</h1>



<table align=center>
<tr>
<td><h2><%= link_to 'Manager Approvals & Management', :controller => :users, :action => :index, :method => :get %>|</h2></td>
  <td><h2><%= link_to 'Syndicate Approvals & Management', :controller => :syndicates, :action => :index, :method => :get %></h2></td>
  </tr>
</table>