<p id="notice"><%= notice %></p>

<p>
  <b>Syndicate name:</b>
  <%= @syndicate.syndicate_name %>
</p>


<%= link_to 'Edit', edit_syndicate_path(@syndicate) %> |
<%= link_to 'Back', syndicates_path %>
