<h1>I'm sorry but your New Syndicate "<%= @syndicate %>" Has Been Rejected by the Syndicate Lottery Administrator.</h1>
  <h1>You can email the administrator at syndicate152@gmail.com for more information.</h1>