// Place all the styles related to the main controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.h1 {color: #009933;}
#apDiv1 {
	position:	absolute;
	width:300px;
	height:4px;
	z-index:1;
	left: 225px;
	top: 224px;
    text-align:justify;
    font-size: 1.5em ;
}

#apDiv2 {
	position:	absolute;
	width:334px;
	height:173px;
	z-index:1;
	left: 681px;
	top: 246px;
  border:5px #2e8b57 solid;
}
#apDiv4 div h3 {
	font-family: Comic Sans MS, cursive;
	color: #327199;
    padding: 10px;
    border:5px #2e8b57 solid;
}



