// Place all the styles related to the Syndicates controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

#syndicate_syndicate_name

  {
                   border: 1px solid #bbb;
                   width: 20%;
                   padding: 10px;
                   margin-bottom: 10px;
                   height: 15px;

                 }